In [4]:
import pandas as pd 
import numpy as np 
import tensorflow as tf

In [26]:
prod_weekly = pd.read_csv('domestic_prod.csv', encoding = 'latin1')
prod_weekly.head()

        ï»¿Date  US Weekly Production
0  Jan 07, 1983                8634.0
1  Jan 14, 1983                8634.0
2  Jan 21, 1983                8634.0
3  Jan 28, 1983                8634.0
4  Feb 04, 1983                8660.0

In [24]:
import_weekly = pd.read_csv('import.csv', encoding = 'latin1')
import_weekly.head()

        ï»¿Date  US Weekly Import
0  Jan 05, 1990            5654.0
1  Jan 12, 1990            6644.0
2  Jan 19, 1990            6463.0
3  Jan 26, 1990            6144.0
4  Feb 02, 1990            6761.0