# CFRM 421 Final Proejct - Terence Chiu

# Introduction

What is the goal of your project?

• What is the data that you are using? What is the original data source if known?

• What does an instance in your data represent (e.g. a person, a transaction, etc.)? How many
instances are there?

• What is the target variable you are trying to predict?

• What are the features used to predict it? Give a few examples of the features.

• Provide any additional relevant information about your data if known (e.g. what is the time
period, what place is it collected from, etc.

# Problem Setup

In [9]:
import pandas as pd 
import numpy as np 
import tensorflow as tf

In [10]:
prod_weekly = pd.read_csv('domestic_prod.csv', encoding = 'latin1')

In [24]:
net_import_weekly = pd.read_csv('net_import.csv', encoding = 'latin1')

In [12]:
price = pd.read_csv('cl-1m.csv', encoding = 'latin1')

In [13]:
supply_weekly = pd.read_csv('InvestingcomEIA.csv', encoding = 'latin1')
supply_weekly = supply_weekly.iloc[::-1].reset_index(drop=True)
supply_weekly.head()

  Release Date   Time  Actual Forecast Previous
0     9-Mar-11  10:30  2.500M   1.100M  -0.400M
1    16-Mar-11   9:30  1.700M   1.800M   2.500M
2    23-Mar-11   9:30  2.100M   2.000M   1.700M
3    30-Mar-11   9:30  2.900M   2.000M   2.100M
4     6-Apr-11   9:30  2.000M   1.300M   2.900M

In [25]:
# Production
prod_weekly['ï»¿Date'] = pd.to_datetime(prod_weekly['ï»¿Date'], format='%b %d, %Y', errors='coerce')

# Net Import
net_import_weekly['ï»¿Date'] = pd.to_datetime(net_import_weekly['ï»¿Date'], format='%b %d, %Y', errors='coerce')

# Supply
supply_weekly['Release Date'] = pd.to_datetime(supply_weekly['Release Date'], format='%d-%b-%y', errors='coerce')


start_date = pd.to_datetime('2012-01-01')
end_date = pd.to_datetime('2025-01-01')

prod_weekly = prod_weekly[(prod_weekly['ï»¿Date'] >= start_date) & (prod_weekly['ï»¿Date'] < end_date)].reset_index(drop=True)
net_import_weekly = net_import_weekly[(net_import_weekly['ï»¿Date'] >= start_date) & (net_import_weekly['ï»¿Date'] < end_date)].reset_index(drop=True)
supply_weekly = supply_weekly[(supply_weekly['Release Date'] >= start_date) & (supply_weekly['Release Date'] < end_date)].reset_index(drop=True)

In [26]:
prod_weekly.head()

     ï»¿Date  US Weekly Production
0 2012-01-06                5844.0
1 2012-01-13                5726.0
2 2012-01-20                5722.0
3 2012-01-27                5720.0
4 2012-02-03                5763.0

In [27]:
net_import_weekly.head()

     ï»¿Date  Weekly Net Import
0 2012-01-06             9871.0
1 2012-01-13             8228.0
2 2012-01-20             8816.0
3 2012-01-27             8843.0
4 2012-02-03             8376.0

In [28]:
supply_weekly.head()

  Release Date   Time   Actual Forecast Previous
0   2012-01-05  11:00   2.200M  -1.200M   3.900M
1   2012-01-11  10:30   5.000M   1.000M   2.200M
2   2012-01-19  11:00  -3.400M   2.900M   5.000M
3   2012-01-25  10:30   3.600M   0.900M  -3.400M
4   2012-02-01  10:30   4.200M   3.000M   3.600M

# Algorithms

DNN  
Inputs:
- Weekly Import
- Weekly Production
- Weekly Supply
- Crude Oil Futures Price 1-2 minutes before release  

Outputs (predict): 
- Futures Price 1-2 minutes after release

# Conclusions