In [2]:
import pandas as pd 
import numpy as np 
import tensorflow as tf

In [3]:
prod_weekly = pd.read_csv('domestic_prod.csv', encoding = 'latin1')
prod_weekly.head()

        ï»¿Date  US Weekly Production
0  Jan 07, 1983                8634.0
1  Jan 14, 1983                8634.0
2  Jan 21, 1983                8634.0
3  Jan 28, 1983                8634.0
4  Feb 04, 1983                8660.0

In [4]:
import_weekly = pd.read_csv('import.csv', encoding = 'latin1')
import_weekly.head()

        ï»¿Date  US Weekly Import
0  Jan 05, 1990            5654.0
1  Jan 12, 1990            6644.0
2  Jan 19, 1990            6463.0
3  Jan 26, 1990            6144.0
4  Feb 02, 1990            6761.0

In [5]:
price_weekly = pd.read_csv('cl-1m.csv', encoding = 'latin1')
price_weekly.head()

   01/04/2007;17:00:00;66.03;66.31;66.03;66.1;197
0   01/04/2007;17:01:00;66.01;66.1;65.92;65.95;38
1  01/04/2007;17:02:00;65.97;66.08;65.96;66.05;64
2  01/04/2007;17:03:00;66.04;66.08;66.04;66.04;12
3   01/04/2007;17:04:00;66.09;66.1;66.03;66.04;17
4  01/04/2007;17:05:00;66.06;66.06;66.03;66.03;19